REACT_APP_API_URL=http://localhost:8001
REACT_APP_ENABLE_ANALYTICS_DASHBOARD=false
REACT_APP_SHOW_ANALYTICS_LINK=false
REACT_APP_ENABLE_PRICE_EXPERIMENT=false
REACT_APP_PRICE_CONTROL_CENTS=299
REACT_APP_PRICE_TEST_CENTS=499
